In [1]:
import pandas as pd

In [2]:
#dataset
data={
    "Student":["Amit","Jhon","Kapil","Mukund","Sachin"],
    "Rank":[1,4,3,5,2],
    "Marks":[90,70,80,60,90]
     }

In [3]:
df=pd.DataFrame(data,index=["Row_A","Row_B","Row_C","Row_D","Row_E"])

In [4]:
df

      Student  Rank  Marks
Row_A    Amit     1     90
Row_B    Jhon     4     70
Row_C   Kapil     3     80
Row_D  Mukund     5     60
Row_E  Sachin     2     90

In [7]:
df.loc["Row_A"]

Student    Amit
Rank          1
Marks        90
Name: Row_A, dtype: object

In [17]:
df=pd.DataFrame(data,index=["RowA","RowB","RowC","RowD","RowE"])

In [19]:
df.loc["RowE"]

Student    Sachin
Rank            2
Marks          90
Name: RowE, dtype: object

In [20]:
df.loc["RowD"]

Student    Mukund
Rank            5
Marks          60
Name: RowD, dtype: object

In [21]:
df.loc["RowD"]["Marks"]

np.int64(60)

In [22]:
df.loc["RowD"]["Student"]

'Mukund'

In [23]:
df

     Student  Rank  Marks
RowA    Amit     1     90
RowB    Jhon     4     70
RowC   Kapil     3     80
RowD  Mukund     5     60
RowE  Sachin     2     90