In [1]:
import pandas as pd

In [2]:
#dataset
data={
    "Student":["Amit","Jhon","Kapil","Mukund","Sachin"],
    "Rank":[1,4,3,5,2],
    "Marks":[90,70,80,60,90]
     }
df=pd.DataFrame(data,index=["RowA","RowB","RowC","RowD","RowE"])

In [3]:
df=pd.DataFrame(data,index=["RowA","RowB","RowC","RowD","RowE"])

In [4]:
df

     Student  Rank  Marks
RowA    Amit     1     90
RowB    Jhon     4     70
RowC   Kapil     3     80
RowD  Mukund     5     60
RowE  Sachin     2     90

In [5]:
#Acess elements rows and columns 
df.iloc[0]

Student    Amit
Rank          1
Marks        90
Name: RowA, dtype: object

In [7]:
df.iloc[0][0]

/var/folders/k_/_m1x_q0s6fz1vqc2z_c5n76h0000gn/T/ipykernel_7574/2900375399.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

'Amit'

In [11]:
df.iloc[[0,1]]

     Student  Rank  Marks
RowA    Amit     1     90
RowB    Jhon     4     70

In [13]:
df.iloc[[3,4][0]]

Student    Mukund
Rank            5
Marks          60
Name: RowD, dtype: object

In [14]:
df.iloc[[3,4][1]]

Student    Sachin
Rank            2
Marks          90
Name: RowE, dtype: object

In [16]:
df.iloc[[3,4][1]]

Student    Sachin
Rank            2
Marks          90
Name: RowE, dtype: object

In [17]:
df.loc["RowA"]

Student    Amit
Rank          1
Marks        90
Name: RowA, dtype: object