In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [3]:
df.head

<bound method NDFrame.head of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [4]:
df.head(5)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [6]:
df["Maxpulse"]

0      130
1      145
2      135
3      175
4      148
      ...
164    140
165    145
166    145
167    150
168    150
Name: Maxpulse, Length: 169, dtype: int64

In [7]:
df["Maxpulse"][0]

np.int64(130)

In [8]:
df["Maxpulse"][0:5]

0    130
1    145
2    135
3    175
4    148
Name: Maxpulse, dtype: int64

In [9]:
df["Maxpulse"][5:15]

5     127
6     136
7     134
8     133
9     124
10    147
11    120
12    128
13    132
14    123
Name: Maxpulse, dtype: int64

In [10]:
df["Maxpulse"][-9:-1]

160    120
161    130
162    130
163    140
164    140
165    145
166    145
167    150
Name: Maxpulse, dtype: int64